@page "/WorkPage"
@inject IWorkService WorkService
@using Mechanic.Shared.Modells
@using WebASM.Services
<h3>WorkPage</h3>

<div class="mb-3">
    <input class="form-control" placeholder="Search by license plate..." onchange="" />
</div>

<div class="d-flex justify-content-start mb-4 gap-2">
    <NavLink class="btn btn-primary" href="WorkAdd">Add New</NavLink>
    <NavLink class="btn btn-warning" href="WorkUpdate">Update</NavLink>
    <NavLink class="btn btn-danger" href="#">Delete</NavLink>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Client ID</th>
        <th>License Plate</th>
        <th>Production Date</th>
        <th>Category</th>
        <th>Severity</th>
        <th>Description</th>
        <th>Progress</th>
        <th>Estimated Total Hours</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var work in workList)
    {
        <tr>
            <td>@work.Id</td>
            <td>@work.clientFK</td>
            <td>@work.LicensePlate</td>
            <td>@work.ProductionDate</td>
            <td>@work.WorkCategory</td>
            <td>@work.Severity</td>
            <td>@work.ShortDescription</td>
            <td>@work.Progress</td>
            <td>@work.TotalHours</td>
        </tr>
    }
    </tbody>
</table>

@code {

    private List<Work> workList = new List<Work>();

    protected override async Task OnInitializedAsync()
    {
        workList = await WorkService.GetWorksAsync();
    }
    

}