@page "/WorkPage"
@inject IWorkService WorkService
@using Mechanic.Shared.Modells
@using WebASM.Services
<h3>WorkPage</h3>

<div class="mb-3">
    <input class="form-control" placeholder="Search by license plate..."  />
</div>

<div class="mb-3 d-flex gap-2">
    <button class="btn btn-primary">Add New Work</button>
    <button class="btn btn-warning">Update</button>
    <button class="btn btn-danger">Delete</button>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>License Plate</th>
        <th>Production Date</th>
        <th>Category</th>
        <th>Severity</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var work in workList)
    {
        <tr>
            <td>@work.LicensePlate</td>
            <td>@work.ProductionDate</td>
            <td>@work.WorkCategory</td>
            <td>@work.Severity</td>
            <td>@work.ShortDescription</td>
            <td>@work.Progress</td>
            <td>@work.TotalHours</td>
        </tr>
    }
    </tbody>
</table>

@code {

    private List<Work> workList = new List<Work>();

    protected override async Task OnInitializedAsync()
    {
        workList = await WorkService.GetWorksAsync();
    }

}